* {
  margin: 0;
  padding: 0;
}

/* PAGE SECTIONS */
body {
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid #1098ad;
  position: relative;
}
.container {
  width: 800px;
  margin-left: auto;
  /* margin-right: auto; */
  margin: 0 auto;
}
.main-header {
  background-color: #f7f7f7;
  /* padding: 20px; */
  /* padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px; */
  padding: 20px 40px;
  margin-bottom: 60px;
  height: 80px;
}
nav {
  font-size: 18px;
  /* text-align: center; */
}
article {
  margin-bottom: 60px;
}
.post-header {
  margin-bottom: 40px;
}
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0;
  width: 500px;
}
/* SMALLER ELEMENTS */
h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;

  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}
h4 {
  font-size: 20px;

  text-align: center;
  text-transform: uppercase;
}
p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}
ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}
li {
  font-size: 20px;
  margin-bottom: 10px;
}
li:last-child {
  margin-bottom: 0;
}

/* footer p {
  font-size: 16px;
} */
#copyright {
  font-size: 16px;
}

/* article header p {
  font-style: italic;
  font-size: 18px;
} */

#author {
  font-size: 18px;
  font-style: italic;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* ul {
  list-style: none;
} */
.related {
  list-style: none;
}

/* .first-li {
  font-weight: bold;
} */

li:first-child {
  font-weight: bold;
}
li:last-child {
  font-style: italic;
}

/* li:nth-child(odd) {
  color: red;
} */

/*Misconception: This won't work. Cause p is not the first
child inside <article> */
article p:first-child {
  color: blue;
}

/* Styling Links  */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  /* color: #777; */
  color: #1098ad;
}
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}
a:active {
  font-style: italic;
  background-color: black;
}
/*LVHA*/

.post-img {
  width: 100%;
  height: auto;
}

nav a:link {
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

button {
  cursor: pointer;
  font-size: 22px;
  padding: 20px;

  position: absolute;

  bottom: 50px;
  right: 50px;
  /* top: 0;
  bottom: 0; */
}

/* pseudo elements  */
h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

/* adjacent sibling: like all p after right h3  */
/* h3 + p::first-line {
  color: red;
} */

/* after pseudo element
all after,before pseudo elements are by dafualt inline type
so to add margin,padding, we need to set their display property as inline-block  */

h2 {
  /*to change the postion of pseude element "TOP",
  we are giving postion property as 'relative' to h2*/
  position: relative;
}
h2::after {
  content: "TOP";
  background-color: #ffe70e;
  font-size: 16px;
  color: #444;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
}
/* Resolving Conflicts  */
/* #copyright {
  color: red;
}
.copyright {
  color: blue;
}
.text {
  color: yellow;
} */

/* footer p {
  color: green !important;
} */
