.container {
  border: 2px solid red;
  background-color: yellow;
  height: 700px;
  display: grid;

  /* grid-template-rows: 30px 150px 400px 30px;
  grid-template-columns: 400px;
  grid-template-areas:
    "hd"
    "side"
    "main"
    "ft"; */
  grid-template-rows: 30px 500px 30px;
  grid-template-columns: 200px 400px;
  grid-template-areas:
    "hd hd"
    "side main"
    "ft ft";
}
.box {
  border: 1px solid green;
  background-color: aqua;
  /* height: 100px;
    width: 100px; */
}
#header {
  grid-area: hd;
}
#sidebar {
  grid-area: side;
}
#content {
  grid-area: main;
}
#footer {
  grid-area: ft;
}
